{% extends 'base.html.twig' %}

{% block title %}Bout'chou Paradise | Boutique{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Nos Produits Coup de Coeur</h1>
</div>
{% endblock %}
