{% extends 'base.admin.html.twig' %}

{% block title %}Admin Bout'chou | Commandes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-admin.css') }}">
{% endblock %}   



{% block body %}
     <h2>Liste des Commandes</h2>
{% endblock %}