{% extends 'base.admin.html.twig' %}

{% block title %}Admin Bout'chou | Catégorie de produits{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-admin.css') }}">
{% endblock %}   


{% block body %}

    <h2>Liste des catégories</h2>
          <table class="data_table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for categorys in category %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucune catégorie trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}